/* CSS Document */

/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,fieldset,textarea,blockquote, #fullheight { 
	font-family: verdana,arial,helvetica,sans-serif; 
	font-size: 12px;
	margin:0;
	padding:0;
	background-color:#000;
	height:100%;

}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

#fullheight{height:100%}

.topMenu{
   margin:0;
   }
   
   
.topMenu a{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   text-decoration:none;
   }
.topMenu a:hover{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   text-decoration:underline;
   }
   
  .topMenu .red a{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#6D1010;
   text-decoration:none;
   }
.topMenu .red a:hover{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#6D1010;
   text-decoration:underline;
   }
   
.side-nav-bg{
  background:url(../images/side-nav-bg.jpg) no-repeat top right;


  }
 .side-nav-bg a{
   font:bold 11px/26px Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-decoration:none;
   padding-right:10px;
  }
  .side-nav-bg a:hover{
   font:bold 11px/26px Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-decoration:underline;
  }
 .side-nav-selected{
  background:url(../images/side-nav-selected.jpg) no-repeat top right;

  }
  .side-nav-selected a{
   font:bold 11px/26px Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-decoration:none;
   padding-right:10px;   
  }
  .side-nav-selected a:hover{
   font:bold 11px/26px Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-decoration:underline;
  }
  .right-col td{
    padding-left:5px;
	}
 .right-col h2{
    font:bold 14px/16px "Times New Roman", Times, serif;
	color:#6D1010;
	}
 .right-col p{
    font:normal 11px/14px Verdana, Arial, Helvetica, sans-serif;
	color:#7F7F7F;
	margin:0;
	padding:5px 0 0 0;
	}
  a.learn{
    font:normal 11px/12px Verdana, Arial, Helvetica, sans-serif;
	color:#6D1010;
	text-decoration:none;
	}
  a:hover.learn{
    font:normal 11px/12px Verdana, Arial, Helvetica, sans-serif;
	color:#6D1010;
	text-decoration:underline;
	}
	
a.buynow {font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; color: #FFFFFF; text-decoration:none;}
a.buynow:hover {font-size: 10pt; color: #000000;}
a.buynow:active {font-size: 10pt; color: #FFFFFF;}

.nletter h2{
    font:bold 10px/14px  Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	}
.nletter p{
    font:normal 11px/14px  Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	margin:0;
	padding:0;
	}
.nletter-fld {
     background:url(../images/nletter-bg.jpg) repeat-x;
	 height:16px;
	 border-bottom:1px solid #BABABA;
	 border-left:1px solid #878787;	 
	 border-top:1px solid #878787;	 
 	 border-right:1px solid #878787;
	 width:146px;
	 padding:2px;
	 }
.footer {
    color:#fff;
    font:bold 11px/22px  Verdana, Arial, Helvetica, sans-serif;
	}	
.footer a {
    color:#fff;
    font:bold 11px/22px  Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	}	
	
.footer a:hover {
    color:#fff;
    font:bold 11px/22px  Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	}
.bdytxt { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

.page-title {font-family: trebuchet ms,Verdana,arial,helvetica,sans-serif; font-size: 16px; font-weight: bold; color: #660000; line-height: 23px;
}

td.leftnav {
		height:100%;
}

.bc a{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#6D1010;
   text-decoration:none;
   }
.bc a:hover{
   font:bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
   color:#6D1010;
   text-decoration:underline;
   }
   
.welcome-title {font-family: verdana,arial,helvetica,sans-serif; font-size: 20px; font-weight: bold; color: #CC0000; line-height: 20px;
}

.welcome-bar {font-family: georgia,arial,helvetica,sans-serif; font-size: 15px; color: #333333; line-height: 20px;
}

.currently-available {font-family: trebuchet ms,arial,helvetica,sans-serif; font-size: 16pt; color: maroon; font-weight: bold;
}

.forum-name {font-family: verdana,arial,helvetica,sans-serif; font-size: 9pt; color: #333399; font-weight: bold;
}

.product-name {font-family: verdana,arial,helvetica,sans-serif; color: black; font-size: 9pt;
}

.errortext {color: #FF0000;}

.normalwhite { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #FFFFFF;
}

.normalyellow { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #FFFF66;
}

.normalred { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #FF0000;
}

.forum-name2 {font-family: verdana,arial,helvetica,sans-serif; font-size: 13pt; color: #333399; font-weight: bold;
}

.product-name2 {font-family: verdana,arial,helvetica,sans-serif; color: black; font-size: 13pt;
}
